In [1]:
people = {
    'first': ['Corey', 'Jane', 'John', 'Adam'], 
    'last': ['Schafer', 'Doe', 'Doe', 'Doe'], 
    'email': ['CoreyMSchafer@gmail.com', 'JaneDoe@email.com', 'JohnDoe@email.com', 'A@email.com']
}

In [2]:
import pandas as pd

In [3]:

df = pd.DataFrame(people)

In [4]:
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com
3   Adam      Doe              A@email.com

In [7]:
df.sort_values(by='first',ascending=False)

   first     last                    email
2   John      Doe        JohnDoe@email.com
1   Jane      Doe        JaneDoe@email.com
0  Corey  Schafer  CoreyMSchafer@gmail.com
3   Adam      Doe              A@email.com

In [9]:
df.sort_values(by=['first','last'],ascending=False)

   first     last                    email
2   John      Doe        JohnDoe@email.com
1   Jane      Doe        JaneDoe@email.com
0  Corey  Schafer  CoreyMSchafer@gmail.com
3   Adam      Doe              A@email.com

In [13]:
df.sort_values(by=['first','last'],ascending=[False,True],inplace=True)

In [14]:
df

   first     last                    email
2   John      Doe        JohnDoe@email.com
1   Jane      Doe        JaneDoe@email.com
0  Corey  Schafer  CoreyMSchafer@gmail.com
3   Adam      Doe              A@email.com

In [21]:
df.sort_index()

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com
3   Adam      Doe              A@email.com

In [17]:
df['first'].sort_values()

3     Adam
0    Corey
1     Jane
2     John
Name: first, dtype: object

In [20]:
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com
3   Adam      Doe              A@email.com