In [2]:
import pandas as pd
import mysql
from sqlalchemy import create_engine
import mysql.connector

In [9]:
engine = create_engine('mysql+mysqlconnector://root:password@localhost/giraffe')

In [12]:
df=pd.read_sql('branch',engine)
df

   branch_id branch_name  mgr_id mgr_start_date
0          1   Corporate   100.0     2006-02-09
1          3    Stamford   106.0     1998-02-13
2          4     buffalo     NaN            NaT

In [13]:
df.to_sql('new_table',engine)

In [14]:
df.to_sql('new_table',engine,if_exists='append')

In [15]:
new_df=pd.read_sql_query('select * from branch',engine)
new_df

   branch_id branch_name  mgr_id mgr_start_date
0          1   Corporate   100.0     2006-02-09
1          3    Stamford   106.0     1998-02-13
2          4     buffalo     NaN           None