In [1]:
import pandas as pd

In [2]:

people = {
    "first": ["Corey", 'Jane', 'John'], 
    "last": ["Schafer", 'Doe', 'Doe'], 
    "email": ["CoreyMSchafer@gmail.com", 'JaneDoe@email.com', 'JohnDoe@email.com']
}

In [4]:
df=pd.DataFrame(people)

In [6]:
df.columns

Index(['first', 'last', 'email'], dtype='object')

In [12]:
df.columns=['first_name', 'last_name','email']

In [10]:
df

  first_name last_name                    email
0      Corey   Schafer  CoreyMSchafer@gmail.com
1       Jane       Doe        JaneDoe@email.com
2       John       Doe        JohnDoe@email.com

In [13]:
df.columns=[x.upper() for x in df.columns]

In [14]:
df

  FIRST_NAME LAST_NAME                    EMAIL
0      Corey   Schafer  CoreyMSchafer@gmail.com
1       Jane       Doe        JaneDoe@email.com
2       John       Doe        JohnDoe@email.com

In [15]:
df.columns=df.columns.str.replace('_',' ')

In [16]:
df

  FIRST NAME LAST NAME                    EMAIL
0      Corey   Schafer  CoreyMSchafer@gmail.com
1       Jane       Doe        JaneDoe@email.com
2       John       Doe        JohnDoe@email.com

In [17]:
df.columns=df.columns.str.replace(' ','_')

In [18]:
df

  FIRST_NAME LAST_NAME                    EMAIL
0      Corey   Schafer  CoreyMSchafer@gmail.com
1       Jane       Doe        JaneDoe@email.com
2       John       Doe        JohnDoe@email.com

In [20]:
df.columns=[x.lower() for x in df.columns]
df

  first_name last_name                    email
0      Corey   Schafer  CoreyMSchafer@gmail.com
1       Jane       Doe        JaneDoe@email.com
2       John       Doe        JohnDoe@email.com

In [22]:
df.rename(columns={'first_name':'first','last_name':'last'})

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [25]:
df.rename(columns={'first_name':'first','last_name':'last'},inplace=True)
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [60]:
df.loc[2]=['nare','reddy','nareshreddy@gmail.com']
# df.loc[2]

ValueError: could not broadcast input array from shape (3,) into shape (5,)

In [55]:
df

   first     last                    email  nare reddy
0  Corey  Schafer  coreymschafer@gmail.com   NaN   NaN
1   Jane      Doe        janedoe@email.com   NaN   NaN
2   John    smith      johnsmith@gmail.com  John   Doe

In [42]:
df.loc[2,['first','email']]=['John','Johnsmith@gmail.com']

In [43]:
df

   first     last                    email  nare reddy
0  Corey  Schafer  CoreyMSchafer@gmail.com   NaN   NaN
1   Jane      Doe        JaneDoe@email.com   NaN   NaN
2   John    smith      Johnsmith@gmail.com  John   Doe

In [44]:
df.loc[2,'last']='smith'
df

   first     last                    email  nare reddy
0  Corey  Schafer  CoreyMSchafer@gmail.com   NaN   NaN
1   Jane      Doe        JaneDoe@email.com   NaN   NaN
2   John    smith      Johnsmith@gmail.com  John   Doe

In [46]:
df.at[2,'last']='Doe'
df

   first     last                    email  nare reddy
0  Corey  Schafer  CoreyMSchafer@gmail.com   NaN   NaN
1   Jane      Doe        JaneDoe@email.com   NaN   NaN
2   John      Doe      Johnsmith@gmail.com  John   Doe

In [49]:
# filt=df['email']=='Johnsmith@gmail.com'
# df[filt]['last']='Doe'

<ipython-input-49-b85cbdcb2207>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[filt]['last']='Doe'

In [59]:
filt=df['email']=='Johnsmith@gmail.com'
df.loc[filt,'last']='smith'
df

   first     last                    email  nare reddy
0  Corey  Schafer  coreymschafer@gmail.com   NaN   NaN
1   Jane      Doe        janedoe@email.com   NaN   NaN
2   John    smith      johnsmith@gmail.com  John   Doe

In [51]:
df['email'].str.lower()

0    coreymschafer@gmail.com
1          janedoe@email.com
2        johnsmith@gmail.com
Name: email, dtype: object

In [57]:
df['email']=df['email'].str.lower()

In [56]:
df

   first     last                    email  nare reddy
0  Corey  Schafer  coreymschafer@gmail.com   NaN   NaN
1   Jane      Doe        janedoe@email.com   NaN   NaN
2   John    smith      johnsmith@gmail.com  John   Doe

In [61]:
del df['nare']
del df['reddy']

In [62]:
df

   first     last                    email
0  Corey  Schafer  coreymschafer@gmail.com
1   Jane      Doe        janedoe@email.com
2   John    smith      johnsmith@gmail.com

In [63]:
df['email'].apply(len)

0    23
1    17
2    19
Name: email, dtype: int64

In [64]:
    def update_email(email):
        return email.upper()

In [65]:
df['email'].apply(update_email)

0    COREYMSCHAFER@GMAIL.COM
1          JANEDOE@EMAIL.COM
2        JOHNSMITH@GMAIL.COM
Name: email, dtype: object

In [68]:
df['email']=df['email'].apply(update_email)

In [69]:
df

   first     last                    email
0  Corey  Schafer  COREYMSCHAFER@GMAIL.COM
1   Jane      Doe        JANEDOE@EMAIL.COM
2   John    smith      JOHNSMITH@GMAIL.COM

In [70]:
df['email']=df['email'].apply(lambda x:x.lower())
df

   first     last                    email
0  Corey  Schafer  coreymschafer@gmail.com
1   Jane      Doe        janedoe@email.com
2   John    smith      johnsmith@gmail.com

In [71]:
df.apply(len)

first    3
last     3
email    3
dtype: int64

In [72]:
df.apply(len,axis='columns')

0    3
1    3
2    3
dtype: int64

In [73]:
len(df['email'])

3

In [74]:
df

   first     last                    email
0  Corey  Schafer  coreymschafer@gmail.com
1   Jane      Doe        janedoe@email.com
2   John    smith      johnsmith@gmail.com

In [75]:
df.apply(pd.Series.min)

first                      Corey
last                         Doe
email    coreymschafer@gmail.com
dtype: object

In [76]:
df.apply(lambda x:x.min())

first                      Corey
last                         Doe
email    coreymschafer@gmail.com
dtype: object

In [78]:
df.applymap(len)

   first  last  email
0      5     7     23
1      4     3     17
2      4     5     19

In [79]:
df.applymap(str.lower)

   first     last                    email
0  corey  schafer  coreymschafer@gmail.com
1   jane      doe        janedoe@email.com
2   john    smith      johnsmith@gmail.com

In [81]:
df['first'].map({'Corey':'nare','Jane':'reddy'})

0     nare
1    reddy
2      NaN
Name: first, dtype: object

In [82]:
df['first'].replace({'Corey':'nare','Jane':'reddy'})

0     nare
1    reddy
2     John
Name: first, dtype: object

In [86]:
df['first']=df['first'].replace({'nare':'Corey','reddy':'Jane'})

In [87]:
df

   first     last                    email
0  Corey  Schafer  coreymschafer@gmail.com
1   Jane      Doe        janedoe@email.com
2   John    smith      johnsmith@gmail.com