In [1]:
people = {
    "first": ["Corey", 'Jane', 'John'], 
    "last": ["Schafer", 'Doe', 'Doe'], 
    "email": ["CoreyMSchafer@gmail.com", 'JaneDoe@email.com', 'JohnDoe@email.com']
}

In [2]:
import pandas as pd

In [3]:

df = pd.DataFrame(people)

In [14]:
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [27]:
filt=df['last']=='Doe'

In [7]:
df[filt]

  first last              email
1  Jane  Doe  JaneDoe@email.com
2  John  Doe  JohnDoe@email.com

In [28]:
# df.loc[filt,'email']

1    JaneDoe@email.com
2    JohnDoe@email.com
Name: email, dtype: object

In [9]:
df.loc[(df['last']=='Schafer') &(df['first']=='Corey')]

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com

In [11]:
df.loc[(df['last']=='Doe') & (df['first']=='Jane')]

  first last              email
1  Jane  Doe  JaneDoe@email.com

In [46]:
filt=(df['last']=='Doe') | (df['first']=='John')

In [47]:
df.loc[filt,'email']

1    JaneDoe@email.com
2    JohnDoe@email.com
Name: email, dtype: object

In [49]:
df.loc[~filt,'email']

0    CoreyMSchafer@gmail.com
Name: email, dtype: object